body { 
	background-color: #000; 
	color: #FFF; 
	margin:25px 0 0; 
}

.container {
	width: 580px;
	margin: 0 auto 0 auto; 
	position: relative; 
}

#dieScreen {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1; 
	width:580px; 
}

#dieContainer {
	position:relative; 
	width:200px;	
	height: 200px; 
	perspective:1000px; 
}

#die {
	position:absolute; 
	transform: translateZ(-100px);
  	transform-style: preserve-3d;
  	transition: transform 0.6s; 
	transition-timing-function: cubic-bezier(0.9,0.6,0.4,0.1);   
  	height:100%; 
  	width:100%; 
}


#top    { transform: rotateX(  90deg ) translateZ( 100px ); }
#front  { transform: rotateY(   0deg ) translateZ( 100px ); }
#right  { transform: rotateY(  90deg ) translateZ( 100px ); }
#left   { transform: rotateY( -90deg ) translateZ( 100px ); }
#back   { transform: rotateX( -180deg ) translateZ( 100px ); }
#bottom { transform: rotateX( -90deg ) translateZ( 100px ); }


#die.show-front  { transform: translateZ( -100px ) rotateY(   0deg ); }
#die.show-back   { transform: translateZ( -100px ) rotateX(-180deg ); }
#die.show-right  { transform: translateZ( -100px ) rotateY( -90deg ); }
#die.show-left   { transform: translateZ( -100px ) rotateY(  90deg ); }
#die.show-top    { transform: translateZ( -100px ) rotateX( -90deg ); }
#die.show-bottom { transform: translateZ( -100px ) rotateX(  90deg ); }


div.face { 
	width: 192px; 
	height: 192px; 
	background-color: rgba(255, 255, 255, 1); 
	color:#000;
	margin: 0 auto 0;
	position:absolute;
	top:50px;
	left:175px; 
	border: solid 4px black; 
}

div.dotContainer {
	position:relative; 	
}

div.face div.dot {
	/*display:inline-block;*/
	border-radius: 100%;
	background-color:#000;
	width: 44px; 
	height: 44px; 
	position:absolute; 
	margin:20px;
}

div.topLeft {
	top: 0; 
	left: 0;   
}

div.topCenter {
	top: 0; 
	left: 55px;  
}

div.topRight {
	top: 0; 
	right: 0;  
}

div.center {
	top: 55px; 
	left: 55px;  
}
div.botLeft {
	bottom: 0px; 
	left: 0;  
}

div.botCenter {
	bottom: 0px; 
	left: 55px;  
}


div.botRight {
	bottom: 0px; 
	right: 0;  
}

