body { 
	background-color: #000; 
	color: #FFF; 
	margin:25px 0 0; 
}

.container {
	width: 580px;
	margin: 0 auto 0 auto; 
	position: relative; 
}

#start, #roll, #dice {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1; 
	width:580px; 
}

#start img { 
	display:block; 
	margin: 0 auto;
}




div.mainMenu {
	width:150px; 
	margin: 0 auto;
}

div.option {
	background-color: #000; 
	border: 5px solid #000; 
	border-radius: 10px;
	margin-bottom: 15px; 
	font-family: Courier; 
	text-align: center; 
	font-size: 21px;
	padding: 5px;	
	cursor: default; 
	width:100%;
}

div.option:hover {
	border-color: #FFF; 
}

div#rollBtn {
	font-size: 52px; 
}

div#rollAgainBtn.rolling { 
	color: #545454; 
}
div#rollAgainBtn.rolling:hover { 
	border-color: #000; 
}

div.gameplayMenu {
	float:right; 
	margin: 400px 42px 0 0;
	width:130px;
}

#dice { top: 90px; }

p.tip { color: #666; }

div.die { 
	width: 225px; 
	height: 225px; 
	background-color: #FFF; 
	color:#000;
	margin: 0 auto 0;
	position:relative;
}

div.die div.dot {
	/*display:inline-block;*/
	border-radius: 100%;
	background-color:#000;
	width: 53px; 
	height: 53px; 
	position:absolute; 
	margin:20px;
}


div.die div.topLeft {
	top: 0; 
	left: 0;   
}

div.die div.topCenter {
	top: 0; 
	left: 67px;  
}

div.die div.topRight {
	top: 0; 
	right: 0;  
}

div.die div.center {
	top: 67px; 
	left: 67px;  
}
div.die div.botLeft {
	bottom: 0px; 
	left: 0;  
}

div.die div.botCenter {
	bottom: 0px; 
	left: 67px;  
}


div.die div.botRight {
	bottom: 0px; 
	right: 0;  
}

