body { 
	background-color: #000; 
	color: #FFF; 
	margin:25px 0 0; 
}

.container {
	width: 580px;
	margin: 0 auto 0 auto; 
	position: relative; 
}

#start, #roll, #result {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1; 
	width:580px; 
}

#start img { 
	display:block; 
	margin: 0 auto;
}




#start div.options {
	width:150px; 
	margin: 0 auto;
}

#start div.options div {
	background-color: #000; 
	border: 5px solid #000; 
	border-radius: 10px;
	margin-bottom: 15px; 
	font-family: Courier; 
	text-align: center; 
	font-size: 21px;
	padding: 5px 0;	
	cursor: default; 
}

#start div.options div:hover {
	border-color: #FFF; 
}


#start div.options div.roll {
	font-size: 52px; 
}

#result { top: 90px; }

p.tip { color: #666; }

#diceResult { 
	font-weight: bold; 
}