body { 
	background-color: #000; 
	color: #FFF; 
	margin:0px; 
}

.container {
	width: 800px;
	margin: 0 auto 0 auto; 
	position: relative; 
}

#start, #roll, #result{
	position: absolute;
	top: 50px;
	left: 50px;
	z-index: 1; 
}

#result { top: 90px; }

#diceResult { 
	font-weight: bold; 
}